<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  
  <appSettings>
    <add key="upsideo.bs.rootpath" value="c:\Temp\" />
    <!-- Carmignac configuration-->
    <add key="carmiganc.logotransparent.path" value="C:\Projects\Upsideo.WebApis\Upsideo.WebApis\Upsideo.Rto.WebApi\App_Themes\Carmignac\Images\FINAVEO_LOGO_CMJN.png" />
    <add key="carmiganc.logo.path" value="C:\Projects\Upsideo.WebApis\Upsideo.WebApis\Upsideo.Rto.WebApi\App_Themes\Carmignac\Images\FINAVEO_LOGO_CMJN_horisontal.png" />
    <add key="carmiganc.font.path" value="C:\Projects\Upsideo.WebApis\Upsideo.WebApis\Upsideo.Rto.WebApi\App_Themes\Carmignac\Fonts\verdana.ttf" />
    <add key="carmiganc.proposals.rootpath" value="C:\Temp\Uploads" />
    <add key="carmiganc.proposals.tempWorkPath" value="C:\Temp\Temp" />
    <add key="carmiganc.proposals.template.mif2.path" value="C:\Temp\Temp\lexique_relatif_aux_frais.pdf" />
    <add key="carmiganc.proposals.coffrerootpath" value="C:\Dev.Upsideo\Documents\CoffreFort" />
    <add key="carmiganc.proposals.template.conditions.transmissions.path" value="C:\Temp\Temp\conditions_transmission_ordres.pdf" />
  </appSettings>
  
  
</configuration>